<template>
  <h1>Todo App</h1>
  <form v-on:submit.prevent="">
    <label>New Todo</label>
    <input type="text" v-model="content" />
    <button @click="addTodo()">Add Todo</button>
  </form>
  <h2>Todo List ({{ todos.length }})</h2>
  <ul>
    <li v-for="(todo, index) in todos" :key="index">
      <!-- <span v-if="todo.done" style="text-decoration: line-through;" @click="doIt(todo)">{{todo.content}}</span>
                <span v-else @click="doIt(todo)">{{todo.content}}</span>  -->
      <span
        :class="{ done: todo.done, notdone: !todo.done }"
        @click="doIt(todo)"
        >{{ todo.content }}</span
      >
      <button @click="removeTodo(index)">X</button>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      todos: [
        { content: 'กินข้าว', done: false },
        { content: 'อ่านหนังสือ', done: true }
      ],
      content: ''
    }
  },
  methods: {
    addTodo () {
      // console.log(this.content) //Debug
      this.todos.push({ content: this.content, done: false })
      this.content = ''
    },
    removeTodo (index) {
      // console.log(index) //Debug
      this.todos.splice(index, 1)
    },
    doIt (todo) {
      console.log(todo) // Debug
      todo.done = !todo.done
    }
  }
}
</script>

<style>
.done {
  color: gray;
  text-decoration: line-through;
}
.notdone {
  color: blue;
}
</style>
